<!--The content below is only a placeholder and can be replaced.-->
<!-- start header navigation bar -->
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand whiteText" href="#"><strong>MeanStack CRUD App</strong></a>
			</div>
			<div class="collapse navbar-collapse" >
				<ul class="nav navbar-nav navbar-right">
					<li><a  [routerLink]="['/insertData']"  class="whiteText" style="cursor: pointer;"  >Insert</a></li>
					<li ><a [routerLink]="['/retrieveData']" routerLinkActive="active" class="whiteText" style="cursor: pointer;"  >Retrieve </a></li>
					<li><a class="whiteText" >Delete</a></li>
					<li><a class="whiteText" >Update</a></li>
</ul></div></div></div>
<div>
  <router-outlet></router-outlet> 
</div>

